body {
    font-family: arial;
    color: darkblue;
    background: black;
    font-family: "DejaVu Sans Mono", "Lucida Console", monospace;
    }
#throws {
    text-align: center;
    font-size: 48px;
    color: yellow;
    background: green;
    text-indent: 0.5em;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 4px;
    border-color: darkgreen;
    border-style: solid;
}
p {
    color:orange;
    text-align: center;
    font-size: 24px;
}

